@tailwind base;
@tailwind components;
@tailwind utilities;
/* Mencegah munculnya kursor teks saat klik elemen selain input/textarea */
canvas, img, div, button, span, a {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Tetap izinkan kursor muncul di kolom input agar user bisa mengetik */
input, textarea {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}